.DS_Store
.idea/
.vscode/
*.iml

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

.env
.env.*
!.env.example

android/.gradle/
android/local.properties
android/app/build/
android/captures/
*.keystore
*.jks

ios/Pods/
ios/build/
DerivedData/
*.xcuserstate
*.xcuserdata/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.packages
.pub-cache/
.pub/
build/

.expo/
.expo-shared/
.react-native/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
