@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import 'nativewind/theme';

@source './app/**/*.{js,jsx,ts,tsx}';
@source './components/**/*.{js,jsx,ts,tsx}';
